<?xml version="1.0"?>
<model>
  <name>my_quadrotor</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>leonardo</name>
    <email>le.riccardi@studenti.unina.it</email>
  </author>
  <description>Custom quadrotor for PX4 Gazebo simulation.</description>
</model>
